@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

body{
    margin:0;
}

/******************************************************************************************HEADER */

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 40px 40px 40px;
    background-color: #E5E5E5;
}

.logo{
    display: flex;
    align-items: center;
}

.panier_logo{
    width:40px;
    height:40px;
    align-self: center;
}

.panier_logo:hover{
    transform: scale(1.1);
}

.site{
    color: #2D4059;
    padding-left: 15px;
}

.procedure{
    display:flex;
    flex-direction: column;
    width: 900px;
}

.point_procedure{
    display: flex;
    justify-content: end;
}

.point_procedure img{
    width: 3%;
}

.titre_procedure h1{
    display: flex;
    justify-content: end;
    font-size: 30px;
    font-weight: bolder;
}

.etape_procedure{
    padding:0 10px 0 10px;
    font-weight: bold;
}

.bandau_header{
    display:flex;
    justify-content: space-around;
    background-color: #2D4059;
    color: white;
    width: 100%;
    height: 70px;
    padding:15px 0 15px 0;
}

.bandau_header a, .rechercher_barre{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.bandau_header button{
    background-color: #EA5455;
    color:white;
    border: none;
    border-radius: 5px;
    height: 25px;
    margin-left: 5px;
}

.bandau_header input{
    border-radius: 5px; 
    height: 25px;
    padding:0;
    margin-left: 10px;
}

.bandau_header select{
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 25px;
}

.active:hover{
    transform: scale(1.1);
}
/******************************************************************************************CONTENU PRINCIPAL */

.contenu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 150px 0 150px;
}

p, h1, h2, h4, a, button, option{
    font-family: 'Montserrat', sans-serif;

}

h2, h1{
    font-size: 30px;
}

h2, .je_choisi{
    color: #EA5455;
    font-weight: bold;
}

.contenu article{
    margin : 50px 0 50px 0;
}

/******************************************************************************************CAROUSEL */

.contenu_carousel{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenu_carousel figure{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px 30px 5px 30px;
}

.contenu_carousel figure:hover{
    transform: scale(1.1);
}


.carte_carousel{
    display: flex;
    justify-content: space-between;
}

.stock_label{
    display: flex;
    align-self: end;
    color: green;
    margin-top: 50px;
}

.fleche{
    width:50px;
}

.vente_img{
    width: 170px;
}

.vente_label{
    font-weight: bold;
}

.titre{
    padding-bottom: 50px;
}

.img_carousel{
    width:300px
}

/******************************************************************************************OFFRES */

.contenu_offres{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenu_offres img{
    width:50px
}

.item_offres{
    display:flex;
    justify-content: center;
    background-color: #2D4059;
    color:white;
    font-weight: bold;
    width:170px;
    height:170px;
    border-radius: 25px;
    margin: 50px;
}

.item_offres figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item_offres:hover{
    transform: scale(1.1);
}

/******************************************************************************************CHOIX */

.contenu_choix{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenu_choix img{
    width:300px
}

.contenu_choix figure{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenu_choix figure:hover{
    transform: scale(1.1);
}
